<h1>Event Planning Page</h1>

<%= form_for @event, :url => {:action => :plan} do |f| %>
 
  <div class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
					      <div class="navbar-header">
									        <a href="/home/items" class="navbar-brand">SeeK</a>
														        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
																				          <span class="icon-bar"></span>
																											          <span class="icon-bar"></span>
																																			          <span class="icon-bar"></span>
																																									        </button>
																																													     </div>
																																															      <div class="navbar-collapse collapse" id="navbar-main">
																																																			       <ul class="nav navbar-nav">
																																																							        <li><a href="../upload_page">Upload Page</a></li>
																																																											       <li class="nav navvar-nav">
																																																														 			 <a href="../eventer">Eventer Page</a>

																																																																	 	  </div>
																																																																			   </div>
																																																																				   </div>


	<div class="bs-docs-section">
 
		<div class="row">
		 <div class="col-lg-6">
			<div class="well bs-component">
				<form class="from-horizontal">	
					<fieldset>

						<div class="form-group">
							<div class="col-lg-10">
						    <%= f.label :e_name, "EVENT Name" %>
						    <%= f.text_field :e_name %>
						 </div>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
  				  <%= f.label :e_key, "EVENT KEY " %>
 					  <%= f.text_field :e_key %>
				 		 </div>
						</div>
 					 <div class="form-group">
						 <div class="col-lg-10">
    					<%= f.label :e_detail, "DETAIL    " %>
   						<%= f.text_area :e_detail, :cols => 35, :rows=> 8  %>
 						 </div>
					</div>
					<div class="form-group">
						<div class="col-lg-10">
    					<%= f.label :e_location, "LOCATION  " %>
    					<%= f.text_field :e_location %>
  					</div>
					</div>
  <div class="form-group">
		<div class="col-lg-10" "col-lg-offset-2">
			<button type="reset" class="btn btn-default">Reset</button>
			<button type="submit" class="btn btn-primary">Make Event</button>
  	</div>
	</div>
</div>

	<div class="form-group">
		<p class="bs-component">
			<a href="/home/items" class="btn btn-warning">ITEMS PAGE</a>
<% end %>
<br>
